<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Bem-vindo ao <%= title %></h1>
  <ul>
    <% dados.forEach(dado => { %>
      <li><%= dado.email %> - <%= dado.deleted %></li>
    <% }); %>
  </ul>
</body>
</html>
